.middle-general-live {
    height: calc(100vh - 210px);
    text-shadow: 0 -1px var(--text-color-dark);
}

.sports-navigation-general {
    float: left;
    width: 100%;
    background: #AEDCC0;
}

.sport-nav-container-general {
    float: left;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

ul{
    list-style: none;
    padding: 0;
}

.sport-nav-container-general>ul>li {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    line-height: 14px;
    margin: 0 3px;
}

.sport-nav-container-general>ul>li>button {
    width:auto;
    border-radius: 8px;
    font-size: 14px;
    padding: 0 12px;
    text-decoration: none;
    position: relative;
    text-align: center;
    background: #607466;
    color: #DFF8EB;
    border: none;
}

.sport-icon-general {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 24px;
    height: 38px;
    text-align: center;
    padding: 6px 0 0;
    color: hsla(0,0%,100%,.5);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
